<ng4-loading-spinner> </ng4-loading-spinner>

<app-header></app-header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="userData ml-3">
                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Owner login: {{owner.user.login}}</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <tabset>
                <tab class="mt-4" heading="Account info" id="tab1">
                  <div class="row">
                    <div class="col-sm-3 col-md-3 col-5">
                      <label style="font-weight:bold;">Name</label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{owner.name}}
                    </div>
                  </div>
                  <hr/>

                  <div class="row">
                    <div class="col-sm-3 col-md-3 col-5">
                      <label style="font-weight:bold;">Email</label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{owner.user.email}}
                    </div>
                  </div>
                  <hr/>

                </tab>
                <tab class="mt-4" heading="Services">
                  <div class="row justify-content-center my-0" [hidden]="walletIsPresent()">
                    <div class="col-12 text-center">
                      <alert type="warning">
                        <strong>Warning!</strong> You need to register a <strong>wallet</strong> first if you want to add subscriptions.
                      </alert>
                    </div>
                  </div>
                  <div class="row justify-content-center" *ngIf="subscriptions.length == 0">
                    <div class="col-12 text-center">It seems you have no subscriptions. But you can add a couple of subscriptions right now, it's simple!
                    </div>
                  </div>
                  <table class="table" *ngIf="subscriptions.length > 0">
                    <thead>
                    <tr>
                      <th>Service name</th>
                      <th><em class="fa fa-cog"></em></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let sub of subscriptions">
                      <td>{{sub.name}}</td>
                      <td>
                        <button type="button" class="btn btn-secondary mx-1" (click)="openEditSubscriptionModal(editSubscription, sub)">Edit</button>
                        <button type="button" class="btn btn-danger mx-1" (click)="deleteSubscription(sub.id)">Delete</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-primary mx-1" (click)="openAddSubscriptionModal(editSubscription)" [disabled]="!walletIsPresent()">Add subscription</button>
                </tab>
                <tab class="mt-4" heading="Wallet" *ngIf="walletIsPresent()">
                  <div class="row">
                    <div class="col-sm-3 col-md-3 col-5">
                      <label style="font-weight:bold;">Number</label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{owner.ba.number}}
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-sm-3 col-md-3 col-5">
                      <label style="font-weight:bold;">Balance</label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{owner.ba.balance}}$
                    </div>
                  </div>

                  <hr/>
                  <button type="button" class="btn btn-primary" (click)="openModal(refill)">
                    Fill up a balance
                  </button>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #refill>
  <div class="modal-body text-center">
    <div class="container">

      <input type="number" class="form-control" placeholder="Refill amount" min="0"
             required autofocus [(ngModel)]="amount">

    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="amountIsNegative() || amount == 0" (click)="fillUp()">Fill up</button>
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

<ng-template #editSubscription>
  <modal-editSubscriptionMenu [editableSubscription]="editableSubscription" (onChanged)="closeEditSubscriptionModal()"></modal-editSubscriptionMenu>
</ng-template>
