<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="https://pbs.twimg.com/profile_images/378800000095820479/c7b2e53c69f3dcbc8966fd52d234ace4_400x400.png"
       width="30" height="30" class="d-inline-block align-top mr-2">
  <span class="navbar-brand">Simple Charging Service</span>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openModalWithWallet()"
           [hidden]="userRole() == 'admin' || !userIsPresent() || walletIsPresent()">Wallet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openModalWithLogin(modalLogin)" [hidden]="userIsPresent()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [hidden]="!userIsPresent() || userRole() == 'admin'" routerLink="{{accountInfo()}}">Account
          Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminPanel" [hidden]="userRole() != 'admin'">Administrator panel</a>
      </li>
    </ul>
    <!--<div class="btn-group mx-3" dropdown [hidden]="notMainPage()">-->
      <!--<button dropdownToggle type="button" class="btn btn-info dropdown-toggle"-->
              <!--aria-controls="dropdown-basic">-->
        <!--Categories <span class="caret"></span>-->
      <!--</button>-->
      <!--<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"-->
          <!--role="menu" aria-labelledby="button-basic">-->
        <!--<li role="menuitem"><a class="dropdown-item" href="#" *ngFor="let category of categories">{{category.name}}</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <a class="btn btn-light mx-2" href="shoppingList"
       [hidden]="!userIsPresent() || userRole() == 'owner' || userRole() == 'admin'">
      <fa name="cart-arrow-down"></fa>
      {{itemsCounter}}
    </a>
    <div class="form-inline my-2">
      <div [hidden]="notMainPage()">
        <input class="form-control mr-sm-2" placeholder="Search" [(ngModel)]="searchValue" (keydown)="keyDownFunction($event)">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()">Search</button>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [hidden]="!userIsPresent()" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<ng-template #modalLogin>
  <modal-login (onChange)="closeLoginModal()"></modal-login>
</ng-template>
