<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="https://pbs.twimg.com/profile_images/378800000095820479/c7b2e53c69f3dcbc8966fd52d234ace4_400x400.png"
       width="30" height="30" class="d-inline-block align-top mr-2" alt="">
  <span class="navbar-brand">Simple Charging Service</span>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openModalWithWallet()" [hidden]="userRole() == 'admin' || !userIsPresent() || walletIsPresent()">Wallet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openModalWithLogin()" [hidden]="userIsPresent()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [hidden]="!userIsPresent() || userRole() == 'admin'" href="{{accountInfo()}}">Account Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminPanel" [hidden]="userRole() != 'admin'">Administrator panel</a>
      </li>
    </ul>

    <a class="btn btn-light mx-2" href="shoppingList" [hidden]="!userIsPresent() || userRole() == 'owner' || userRole() == 'admin'">
      <fa name="cart-arrow-down"></fa>
    </a>
    <form class="form-inline my-2">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [hidden]="!userIsPresent()" (click)="logout()" >Logout</a>
      </li>
      </ul>
    </form>
  </div>
</nav>
