/* ---------------------------------------------------
    OTHER STYLE
----------------------------------------------------- */

.col-md-auto{
  padding-right: 0px;
  padding-left: 0px;
}

#info{
  padding-top: 40px;
}
